<div class="bg-white rounded-2xl p-8 mt-6 mx-3">
  <div class="flex justify-between">
    <h1 class="text-xl mt-4 font-base">Employee List</h1>
    <div class="mt-4 flex flex-row gap-2">
      <button
        class="mat-elevation-z0"
        mat-raised-button
        color="primary"
        (click)="openDialogFilter()"
      >
        <mat-icon>filter_list</mat-icon>
        Filter
      </button>
      <button
        class="mat-elevation-z0"
        mat-raised-button
        color="primary"
        [routerLink]="['/dashboard/employee/add']"
      >
        <mat-icon>add</mat-icon>
        Add Employee
      </button>
    </div>
  </div>
  <hr class="mt-6" />
  <app-employee-list-table
    [table]="table"
    (sortTable)="onSortTable($event)"
    (deleteEmployee)="onDeleteEmployee($event)"
  ></app-employee-list-table>
  <mat-paginator
    #matPaginator
    [length]="table.totalData"
    [pageSize]="table.pageSize"
    [pageIndex]="table.getPageIndex()"
    [pageSizeOptions]="[5, 10, 25, 100, 250]"
    (page)="updatePage($event)"
  >
  </mat-paginator>
</div>
